extends layout

block content
  -let result = results
  h1= title
  .container-fluid 
    .row 
      each i in result
        div(class="col-sm-2" style=`border:solid 2px black ` onclick=`buy(${result.indexOf(i)})`) 
          p Ice cream name : #{i.name}
          p Flavour : #{i.flavour}
          p Parts : #{i.parts}
  script.
    function buy(index){
      alert("You purchased item "+(index+1))
    }